<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382255272353-u0r2q8ft63irrgn5h1e5toaerhg9n2qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382255272353-u0r2q8ft63irrgn5h1e5toaerhg9n2qm</string>
	<key>API_KEY</key>
	<string>AIzaSyAECunKBkJwcaox403rTlMLdgxoNV7_-2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>382255272353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hongkim.exchange-rate-calculator</string>
	<key>PROJECT_ID</key>
	<string>exchangeratecalculator-dee0d</string>
	<key>STORAGE_BUCKET</key>
	<string>exchangeratecalculator-dee0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382255272353:ios:8b8ac5a5f6969ab99ebbe0</string>
</dict>
</plist>